<%= bootstrap_form_for(@job) do |f| %>

    <div class="field">
      <%= f.label :customer_details %><br>
      <%= f.text_area :customer_details %>
    </div>
    <div class="field">
      <%= f.label :job_description %><br>
      <%= f.text_field :job_description %>
    </div>
    <div class="field">
      <%= f.label :contractor %><br>
      <%= f.text_area :contractor %>
    </div>
    <div class="field">
      <%= f.label :date_time %><br>
      <%= f.datetime_select :date_time %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>






