<div class="container">
<%= bootstrap_form_for(@job) do |f| %>

    <div class="field">
      <%= f.text_area :customer_details %>
    </div>
    <div class="field">
      <%= f.text_field :job_description %>
    </div>
    <div class="field">
      <%= f.text_area :contractor %>
    </div>
    <div class="field">
      <%= f.datetime_select :date_time %>
    </div>
    <div class="actions">
      <%= f.submit 'Add Jobe', :class => 'btn btn-primary' %>
    </div>

<% end %>

</div>




